


/* carousel styling */
/* .carousel-item .cara-img{
    height: 700px;
} */

/* short desc styling */
.short-desc-div{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.short-desc-div .short-desc-img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* grid section styles */
#photoArray{
    display: grid;
    grid-gap: .5em;
    grid-template-areas: 
    "photoOne photoTwo photoTwo photoThree"
    "photoOne photoFour photoFour photoFive";
    grid-template-columns: 1fr 16% 16% 33%;
    margin-top: 3.5em;
    
}

#photoArray > div:first-child{
    grid-area: photoOne;
    height: 600px;
}


#photoArray-two{
    display: grid;
    grid-gap: .5em;
    grid-template-areas: 
    "photoSix photoSeven";
    grid-template-columns: 1fr 66.33%;
    margin: 0.5em 0;
}

#photoArray-two > div{
    border: 2px solid #EEE;
} 

.img-height{
    height: 293px;
}
.img-height-two{
    height: 600px;
}

#photoArray-two > div:first-child{
    grid-area: photoSix;
    height: 600px;
}

.grid-div{
    box-sizing: border-box;
}

.grid-div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* card styling */
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardRow{
    justify-content: space-around;
}


/* footer styling */

.my-5 {
    margin-bottom: 0rem !important;
}

.my-5 .chang-bg{
    background-color: rgb(242, 242, 242);
}

.ico-mar{
        margin: 0px 4px;
}
